body {
    text-align: center;
    margin: auto;
    background-image: ("https: ../../rukminim1.flixcart.com/image/832/832/j1gqp3k0/poster/p/g/n/medium-andmovpos3074-ananyadesigns-movie-the-godfather-wall-original-imaek7nf3r9bw8cy.jpeg?q=70");
}

